In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import json
from typing import Dict


def clean_json(json_str: str) -> Dict:
    aska = json_str[::-1]
    edge_inda = - aska.index("}")
    if edge_inda != 0:
        json_str = json_str[:edge_inda] + ']'
    else:
        json_str += ']'
    return json.loads(json_str)


def get_characts(obj):
    characts = set()
    if not pd.isna(obj['Характеристики СТЕ']):
        for charact in clean_json(obj['Характеристики СТЕ']):
            try:
                characts.add((charact['Name'], charact['Value']))
            except KeyError:
                pass
    return characts


data = pd.read_excel('/content/drive/MyDrive/tenderhack/dataset_base.xlsx')  # FILEPATH
id2obj = {}
categories = {}
connected = {}
for iterr, st in data.iterrows():
    id2obj[st['Идентификатор СТЕ']] = st

    if st['Категория'] not in categories:
        categories[st['Категория']] = []
    categories[st['Категория']].append(st['Идентификатор СТЕ'])

    if st['Категория'] not in connected:
        connected[st['Категория']] = {}
    if not pd.isna(st['Другая продукция в контрактах']) and len(st['Другая продукция в контрактах'].strip()) > 0:
        st_others = st['Другая продукция в контрактах']
        st_others = clean_json(st_others)
        for prod in st_others:
            try:
                connected_cat = id2obj[prod['OtherSkuId']]['Категория']
                if connected_cat not in connected[st['Категория']]:
                    connected[st['Категория']][connected_cat] = 0
                connected[st['Категория']][connected_cat] += 1
            except KeyError:
                pass

In [36]:
data.head()

   Идентификатор СТЕ  ...                                               Цена
0           20528973  ...                                                NaN
1           34860341  ...                                                NaN
2           34172198  ...                                                NaN
3            1318014  ...                                                NaN
4            1251411  ...  [{"Cost":454.67000},{"Cost":620.00000},{"Cost"...

[5 rows x 15 columns]

In [54]:
pairs_df = pd.read_csv('/content/drive/MyDrive/tenderhack/sample_pairs.csv')

In [55]:
import pickle
with open('/content/drive/MyDrive/tenderhack/charact_dict.pickle', 'rb') as handle:
    all_characts = pickle.load(handle)

In [56]:
len(all_characts)

58343

In [57]:
data_pairs = pairs_df.sample(50000)

In [58]:
data_pairs.target.value_counts()

0    25038
1    24962
Name: target, dtype: int64

In [ ]:
one_hotted = []

for ind, st in data_pairs.iterrows():
  p1, p2, target = st['p1'], st['p2'], st['target']
  onehot_char = ['0' for i in range(len(all_characts))]
  try:
    characts1 = get_characts(id2obj[p1])
    characts2 = get_characts(id2obj[p2])
    same_characts = characts1 & characts2
    for ch_name, ch_val in same_characts:
      onehot_char[all_characts[ch_name]] = '1'
  except KeyError:
    pass
  one_hotted.append(''.join(onehot_char))


data_pairs['one_hotted'] = one_hotted

In [ ]:
ressa = 0
for i in data_pairs['one_hotted']:
  ressa |= int(i, 2)

In [ ]:
ressa = str(bin(ressa))[2:]
ressa = '0'*(len(all_characts)-len(ressa)) + ressa

In [ ]:
nice = []
for i in range(len(ressa)):
  if ressa[i]=="1":
    nice.append(i)

In [ ]:
len(nice)

In [64]:
ids2charact = {all_characts[charact]:charact for charact in all_characts}
nice_characts = [ids2charact[i] for i in nice]

In [65]:
one_hotted_nice = []
for i in one_hotted:
  ideal = ''
  for nice_inda in nice:
    ideal+=i[nice_inda]
  one_hotted_nice.append(list(ideal))

In [66]:
data_pairs['one_hotted'] = one_hotted_nice

In [67]:
data_pairs.to_csv('/content/drive/MyDrive/tenderhack/pairwise.csv')

In [68]:
commons = []
for ind, st in data_pairs.iterrows():
  p1, p2 = st['p1'], st['p2']
  try:
    connected1 = connected[id2obj[p1]['Категория']]
    connected2 = connected[id2obj[p2]['Категория']]
    common = len(set(connected1)&set(connected2))
    commons.append(common)
  except KeyError:
    commons.append(0)
data_pairs['common'] = commons

In [69]:
data_pairs.common.value_counts()

0      14890
1       2256
2       1519
3       1072
4        806
       ...
302        1
365        1
491        1
523        1
297        1
Name: common, Length: 376, dtype: int64

In [70]:
data_pairs.to_csv('/content/drive/MyDrive/tenderhack/pairwise.csv')

In [71]:
p2s = []
for p2 in data_pairs.p2:
  costs = id2obj[p2]['Цена']
  if pd.isna(costs) or not costs:
    p2s.append(0)
  else:
    all_costs = []
    for cost in clean_json(costs):
      all_costs.append(cost['Cost'])
    p2s.append(all_costs[len(all_costs)//2])

In [72]:
data_pairs['cost'] = p2s

In [73]:
contracts = []
for p2 in data_pairs.p2:
  if pd.isna(id2obj[p2]['Кол-во заключенных контрактов']):
    contracts.append(0)
  else:
    contracts.append(id2obj[p2]['Кол-во заключенных контрактов'])
data_pairs['contracts'] = contracts

In [74]:
views = []
for p2 in data_pairs.p2:
  if pd.isna(id2obj[p2]['Просмотры']):
    views.append(0)
  else:
    views.append(id2obj[p2]['Просмотры'])
data_pairs['views'] = views

In [75]:
with open('/content/drive/MyDrive/tenderhack/median_cost.pickle', 'rb') as handle:
    mid_cost = pickle.load(handle)

In [76]:
def get_cost(obj):
  costs = obj['Цена']
  if pd.isna(costs) or not costs:
    return 0
  else:
    all_costs = []
    for cost in clean_json(costs):
      all_costs.append(cost['Cost'])
    return all_costs[len(all_costs)//2]

In [77]:
tilts = []
for inda, st in data_pairs.iterrows():
  try:
    p1, p2 = id2obj[st['p1']], id2obj[st['p2']]
    difa1 = get_cost(p1) - mid_cost[p1['Категория']]
    difa2 = get_cost(p2) - mid_cost[p2['Категория']]
    tilts.append(abs(difa1-difa2))
  except KeyError:
    tilts.append(0)
data_pairs['tilt'] = tilts

In [78]:
data_pairs.to_csv('/content/drive/MyDrive/tenderhack/pairwise.csv')

In [79]:
data_pairs = data_pairs[['target', 'common', 'contracts', 'views', 'tilt', 'one_hotted']]

In [80]:
data_pairs.corr()

             target    common  contracts     views      tilt
target     1.000000 -0.075676   0.315530  0.142916 -0.084136
common    -0.075676  1.000000   0.001626  0.000586 -0.037099
contracts  0.315530  0.001626   1.000000  0.559462 -0.043518
views      0.142916  0.000586   0.559462  1.000000 -0.008832
tilt      -0.084136 -0.037099  -0.043518 -0.008832  1.000000

In [81]:
data_pairs.to_csv('/content/drive/MyDrive/tenderhack/pairwise.csv')

In [85]:
one_hotted_df = pd.DataFrame(list(data_pairs.one_hotted), columns = nice_characts)

In [88]:
base_df = data_pairs[['target', 'common', 'contracts', 'views', 'tilt']]

In [89]:
total_data = pd.concat([base_df, one_hotted_df], axis=1)

In [90]:
total_data.head()

   target  common  contracts  ...  Персонаж  Тип сценической одежды Материал задника
0     NaN     NaN        NaN  ...         0                       0                0
1     1.0   114.0        9.0  ...         0                       0                0
2     NaN     NaN        NaN  ...         0                       0                0
3     NaN     NaN        NaN  ...         0                       0                0
4     NaN     NaN        NaN  ...         0                       0                0

[5 rows x 134 columns]

In [91]:
total_data.corr()

             target    common  contracts     views      tilt
target     1.000000 -0.075676   0.315530  0.142916 -0.084136
common    -0.075676  1.000000   0.001626  0.000586 -0.037099
contracts  0.315530  0.001626   1.000000  0.559462 -0.043518
views      0.142916  0.000586   0.559462  1.000000 -0.008832
tilt      -0.084136 -0.037099  -0.043518 -0.008832  1.000000

In [92]:
total_data.to_csv('/content/drive/MyDrive/tenderhack/pairwise_full.csv')